<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Thymeleaf Operators</h3>
    <ul>
        <li th:text="${x + y}"></li>
        <li th:text="${x % y}"></li>
        <li th:text="not ${x>y}"></li>
        <li th:text="${x gt y} and ${x eq y}"></li>
        <li th:text="${x gt y}? 'X lớn hơn y':'X nhỏ hơn Y'"></li>
        <li th:text="@{|/a/b/${x}/${y}|}"></li>
        <li th:text="'/a/b/'+${x}+'/'+${y}"></li>
        <li th:text="@{/a/b/{p1}/{p2}(p1=${x},p2=${y})}"></li>
        <li th:text="(${x} == 5)?('x bằng 5'):('x khong bang 5')"></li>
        <li th:with="baseUrl=(${x == 5}? '/admin/x/eq5':'/admin/x/ne5')" th:text="@{${baseUrl}(number=${x})}"></li>

    </ul>
</body>

</html>