<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myapp" ng-controller="myctrl">
    <center>
        <h3>Authorizing</h3>
        <table ng-if="db" style="width: 100%;" border="1">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat="role in db.roles">{{role.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="acc in db.accounts">
                    <td>{{acc.user_name}}</td>
                    <td ng-repeat="role in db.roles">
                        <input type="checkbox" ng-checked="index_of(acc.user_name,role.name) >= 0"
                            ng-click="update(acc.user_name,role.name, acc.account_id, role.role_id)">
                    </td>
                </tr>
            </tbody>
        </table>
    </center>

    <script>
        const app = angular.module('myapp', [])
        app.config(function ($httpProvider) {
            $httpProvider.defaults.headers.common['Authorization'] = 'Basic YmF0bWFuMzoxMjIx'
        })
        app.controller("myctrl", function ($scope, $http) {
            const url = 'http://localhost:2021/rest/authorities'

            $http.get(url).then(res => {
                $scope.db = res.data
                console.log(res.data);
            }).catch(err => console.log('Invalid security access token', err))

            $scope.index_of = function (username, role) {
                return $scope.db.authorities
                    .findIndex(a => a.account.user_name == username && a.role.name == role)
            }
            $scope.update = function (username, role, accId, roleId) {
                let index = $scope.index_of(username, role);
                if (index >= 0) {
                    let id = $scope.db.authorities[index].id
                    $http.delete(`${url}/${id}`).then(res => {
                        $scope.db.authorities.splice(index, 1);
                    })
                } else {
                    let authority = {
                        account: { account_id: accId },
                        role: { role_id: roleId }
                    }
                    $http.post(url, authority).then(res => {
                        $scope.db.authorities.push(res.data);
                    })
                }
            }
        })
    </script>
</body>

</html>