<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Practice Lab3</h1>
        <form action="">
            <button formaction="/student/form" formmethod="get">/student/form</button>
            <button formaction="/validation/form" formmethod="get">/validation/form</button>
            <button formaction="/validation/form" formmethod="get">/home/index</button>
        </form>
    </div>
</body>

</html>