<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" th:fragment="dynamic(view)">

<head>
    <meta charset="UTF-8" th:fragment="dynamic(view)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <img th:src="@{/images/fpoly.jpg}" alt="" style="height: 10rem;">
    </header>
    <hr>
    <nav th:insert="~{/layout/_menu.html::navbar}"></nav>
    <hr>
    <main th:replace="${view}"></main>
    <hr>
    <footer th:replace="~{/layout/_footer.html::footer}">
    </footer>
</body>

</html>