<div class="card">
    <div class="card-header">
        USER CRUD MANAGEMENT
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" ng-model="form.id" placeholder="User Id">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" ng-model="form.password" placeholder="Password">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" ng-model="form.fullname" placeholder="Fullname">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" ng-model="form.email" placeholder="Email">
            </div>
            <div class="mb-3">
                <select ng-model="form.role" ng-init="form.role = 'ADMIN'">
                    <option value="ADMIN">ADMIN</option>
                    <option value="USER">USER</option>
                    <option value="CUST">CUST</option>
                </select>

            </div>

            <button ng-click="create()" class="btn btn-success">CREATE</button>
            <button ng-click="update()" class="btn btn-secondary">UPDATE</button>
            <button ng-click="delete(form.id)" class="btn btn-danger">DELETE</button>
            <button ng-click="reset()" class="btn btn-secondary">RESET</button>
        </form>
    </div>
</div>